name: Build APK using Buildozer

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-11-jdk python3-pip build-essential \
            libgl1-mesa-dev libgles2-mesa-dev libffi-dev libssl-dev \
            libpng-dev libfreetype6-dev libsqlite3-dev \
            libgstreamer1.0 libmtdev-dev \
            libgstreamer1.0-dev gstreamer1.0-plugins-good
          pip install --upgrade pip
          pip install cython virtualenv buildozer

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mybot-apk
          path: bin/*.apk
          if-no-files-found: error
          retention-days: 5
